/* Import sprites */
@import url("sprites.less");//import files must have .less extension for be added to the current document, otherwise will be treated as normal CSS imports!
@import url("gradients.less");
@import url("filters.less");

/* Vars */
@borders: #DDD;
@background: #F9F9F9;

@header_start: @base;
@header_middle: lighten(@base, 5%);
@header_end: darken(@base, 10%);

@header_height: 150px;
@footer_start: #F4F2F2;

/* Layout */

header, article, footer, aside{
    display:block;

}

body{
    background: @background;
    margin: 0;
    font-family: "Segoe UI",Arial,Verdana,"Trebuchet MS",Helvetica,Tahoma,Verdana;
}

header{
    background: gradient('vertical', @header_start, @header_middle 50%, @header_end, 1px, @header_height);
    border-bottom: 1px solid @borders;
    padding-bottom: 10px;
    text-align: center;

    h1{
    margin:0;
    line-height:@header_height;
   color: #fff; 
   text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
   font-size: 80px;
}
}

article{

    margin: 0 auto;
    width: 50%;
}

#logo{
    float: left;
    background: url("images/compress.png") no-repeat;
    width: 128px;
    height: 128px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px, 5px, 5px, rgba(0,0,0,.5);
}

#logo:hover{
    background: filter("images/compress.png", "desaturate") no-repeat;
}

#sidebar {
    float: left;
}

footer{
    background: gradient('vertical', @footer_start, @background, 1px, 50px);
    border-top: 1px solid @borders;
    color: #666666;
    height: 80px;
    margin-top: 15px;
    padding-top: 10px;
    text-align: center;
}