# General rules
.idea
nbproject/
private/
vendor/
composer.lock
composer.phar

# OS crap
Thumbs.db
[Dd]esktop.ini
.DS_Store

# Custom rules
/assets_loader/cache/*
/assets_loader/error_log.txt
/test/assets/compressed